@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap");

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "Nova Mono", monospace;
  background-size: cover;
  background-position: center center;
  transition: background ease 0.5s;
}

h1 {
  font-size: 4rem;
}

.countdown-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.countdown-el {
  position: relative;
  text-align: center;
  z-index: 1;
}

.countdown-el::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.4);
  content: "";
  z-index: -1;
  transform: translateX(3%);
}

.countdown-el span {
  font-size: 1.3rem;
}

.big-text {
  font-weight: bold;
  font-size: 6rem;
  line-height: 1;
  margin: 1rem 2rem;
}


/* ----------   Preloader  ---------- */
.preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  opacity: 1;
  transition: opacity ease 0.5s;
  z-index: 3;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.disable {
  opacity: 0;
  transition: opacity ease 1s;
  z-index: 0;
}

.btn-img {
  position: relative;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
  background-image: url("./ico/pic.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  z-index: 1;
}

.btn-img--inv {
  filter: invert(1);
}


.btn-img:hover {
  transform: scale(0.96);
}

.control__container {
  position: absolute;
  top: 0;
  right: 1%;
  display: flex;
  align-items: flex-start;
}

.weather p {
  margin: 0;
}

.weather__title {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 720px) {
  .big-text {
    font-size: 5rem;
  }
}

@media screen and (max-width: 640px) {
  .big-text {
    font-size: 5rem;
    margin: 1rem 1.2rem;
  }
}

@media screen and (max-width: 540px) {
  .big-text {
    font-size: 4rem;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 3.5rem;
  }
  .big-text {
    font-size: 3rem;
  }
}

@media screen and (max-width: 384px) {
  h1 {
    font-size: 2.5rem;
  }
  .big-text {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 2rem;
  }
  .big-text {
    font-size: 1.5rem;
  }
}
